/* CSS Document */
*{	
	margin:0px;
	padding:0px;
	text-decoration: none;
	}
.clr{
	clear:both;
	}
body{
	background:url(../background.jpg) center top no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
.main{
	width:1000px;
	margin:0px auto;
	}
/*==========================TOP==========*/
.top{
	width:1000px;
	height:40px;
	background-color:#066;
	}
	
.languages{
	float:right;
	width:150px;
	padding-top:8px;
	}
.languages div{
	float:left;
	color: #000;
	padding:0 5px 0 0;
}

.languages a{
	float:left;
	display:block;
	padding:0 5px;
	}

.search{
	width:500px;
	height:32px;
	float:right;
	background:url(../images/search.png) repeat-x center;
	margin-right:200px;
	margin-top:4px;
	border-radius:5px;
	}
.search-text{
	padding:8px 0 0 15px;
	float:left;
	width:110px;
	color:#099;
	}
.search-text a{
	color:#099;
	text-decoration:none;
	}
.search-input{
	width:182px;
	height:18px;
	margin-top:5px;
	border:1px solid #CCC;
	float:left;
	border-bottom-color:#FFF;
	border-top-color:#FFF;
	}
.search-select{
	width:100px;
	height:18px;
	margin:5px 5px 0 0;
	border:1px solid #CCC;
	float:left;
	border-bottom-color:#FFF;
	border-top-color:#FFF;
	}
.search-bt{
	float:left;
	padding:2px 0 0 15px;
	}
.sm {
    width: 35px;
    height: 31px;
    background: url(../images/search.gif) no-repeat center;
    border: none;
}